<mat-toolbar color="primary" class="flex gap-4">
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <div>Reference App</div>
  <div class="flex-1"></div>
  <ng-container *ngIf="isLoggedIn$ | async">
    <button mat-icon-button [routerLink]="['userInfo']">
      <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button (click)="onLogoutClicked()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
<div class="p-4">
  <router-outlet></router-outlet>
</div>
<mat-menu #menu="matMenu">
  <a mat-menu-item [routerLink]="['login']">Login</a>
  <a mat-menu-item [routerLink]="['weatherForecasts']">Basic Http Fetching</a>
</mat-menu>
